/node_modules/

.DS_Store
._*

vendor/

*.log
tmp/
*.swp
*.swo

.vscode/

.env
.env.*.local

ios/Pods/
ios/build/
ios/DerivedData/
*.xcworkspace
xcuserdata/

android/.gradle/
android/app/build/
android/build/
*.iml
local.properties